@model AspCrud.Models.Domain.Employee;
@{
}
<h1>Edit Employee</h1>
<form method="post" action="Update" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Age</label>
        <input type="number" class="form-control" asp-for="Age">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Employee">Delete</button>
</form>